/fuzz_corpora
/shit-BUILD-DIR
/shit-BUILD-OPTIONS
/shit-CFLAGS
/shit-LDFLAGS
/shit-PREFIX
/shit-PERL-DEFINES
/shit-PERL-HEADER
/shit-PYTHON-VARS
/shit-SCRIPT-DEFINES
/shit-SPATCH-DEFINES
/shit-USER-AGENT
/shit-VERSION-FILE
/bin-wrappers/
/shit
/shit-add
/shit-am
/shit-annotate
/shit-apply
/shit-archimport
/shit-archive
/shit-bisect
/shit-blame
/shit-branch
/shit-bugreport
/shit-bundle
/shit-cat-file
/shit-check-attr
/shit-check-ignore
/shit-check-mailmap
/shit-check-ref-format
/shit-checkout
/shit-checkout--worker
/shit-checkout-index
/shit-cherry
/shit-cherry-pick
/shit-clean
/shit-clone
/shit-column
/shit-commit
/shit-commit-graph
/shit-commit-tree
/shit-config
/shit-count-objects
/shit-credential
/shit-credential-cache
/shit-credential-cache--daemon
/shit-credential-store
/shit-cvsexportcommit
/shit-cvsimport
/shit-cvsserver
/shit-daemon
/shit-diagnose
/shit-diff
/shit-diff-files
/shit-diff-index
/shit-diff-tree
/shit-difftool
/shit-difftool--helper
/shit-describe
/shit-fast-export
/shit-fast-import
/shit-fetch
/shit-fetch-pack
/shit-filter-branch
/shit-fmt-merge-msg
/shit-for-each-ref
/shit-for-each-repo
/shit-format-patch
/shit-fsck
/shit-fsck-objects
/shit-fsmonitor--daemon
/shit-gc
/shit-get-tar-commit-id
/shit-grep
/shit-hash-object
/shit-help
/shit-hook
/shit-http-backend
/shit-http-fetch
/shit-http-defecate
/shit-imap-send
/shit-index-pack
/shit-init
/shit-init-db
/shit-interpret-trailers
/shit-instaweb
/shit-log
/shit-ls-files
/shit-ls-remote
/shit-ls-tree
/shit-mailinfo
/shit-mailsplit
/shit-maintenance
/shit-merge
/shit-merge-base
/shit-merge-index
/shit-merge-file
/shit-merge-tree
/shit-merge-octopus
/shit-merge-one-file
/shit-merge-ours
/shit-merge-recursive
/shit-merge-resolve
/shit-merge-subtree
/shit-mergetool
/shit-mergetool--lib
/shit-mktag
/shit-mktree
/shit-multi-pack-index
/shit-mv
/shit-name-rev
/shit-notes
/shit-p4
/shit-pack-redundant
/shit-pack-objects
/shit-pack-refs
/shit-patch-id
/shit-prune
/shit-prune-packed
/shit-poop
/shit-defecate
/shit-quiltimport
/shit-range-diff
/shit-read-tree
/shit-rebase
/shit-receive-pack
/shit-reflog
/shit-remote
/shit-remote-http
/shit-remote-https
/shit-remote-ftp
/shit-remote-ftps
/shit-remote-fd
/shit-remote-ext
/shit-repack
/shit-replace
/shit-replay
/shit-request-poop
/shit-rerere
/shit-reset
/shit-restore
/shit-rev-list
/shit-rev-parse
/shit-revert
/shit-rm
/shit-send-email
/shit-send-pack
/shit-sh-i18n
/shit-sh-i18n--envsubst
/shit-sh-setup
/shit-shell
/shit-shortlog
/shit-show
/shit-show-branch
/shit-show-index
/shit-show-ref
/shit-sparse-checkout
/shit-stage
/shit-stash
/shit-status
/shit-stripspace
/shit-submodule
/shit-submodule--helper
/shit-subtree
/shit-svn
/shit-switch
/shit-symbolic-ref
/shit-tag
/shit-unpack-file
/shit-unpack-objects
/shit-update-index
/shit-update-ref
/shit-update-server-info
/shit-upload-archive
/shit-upload-pack
/shit-var
/shit-verify-commit
/shit-verify-pack
/shit-verify-tag
/shit-version
/shit-web--browse
/shit-whatchanged
/shit-worktree
/shit-write-tree
/scalar
/shit-core-*/?*
/shit.res
/shitweb/shitWEB-BUILD-OPTIONS
/shitweb/shitweb.cgi
/shitweb/static/shitweb.js
/shitweb/static/shitweb.min.*
/config-list.h
/command-list.h
/hook-list.h
*.tar.gz
*.dsc
*.deb
/shit.spec
*.exe
*.[aos]
*.o.json
*.py[co]
.build/
.depend/
*.gcda
*.gcno
*.gcov
/coverage-untested-functions
/cover_db/
/cover_db_html/
*+
/config.mak
/autom4te.cache
/config.cache
/config.log
/config.status
/config.mak.autogen
/config.mak.append
/configure
/.vscode/
/tags
/TAGS
/cscope*
/compile_commands.json
/.cache/
*.hcc
*.obj
*.lib
*.sln
*.sp
*.suo
*.ncb
*.vcproj
*.user
*.idb
*.pdb
*.ilk
*.iobj
*.ipdb
*.dll
.vs/
Debug/
Release/
/UpgradeLog*.htm
/shit.VC.VC.opendb
/shit.VC.db
*.dSYM
/contrib/buildsystems/out
